# folder
target/
elasticsearch-data/
bin/
.idea/

#intellij
*.iml

#maven
dependency-reduced-pom.xml

src/test/
src/main/java/fr/letreguilly/restapi/HelloApi.java
src/main/java/fr/letreguilly/webui/vaadin/
